#banner{
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: rgb(12, 10, 71);
    width: 100%;
    margin-bottom: 10px;
    border:outset #cec1d3;
    border-width: 2px;
    box-shadow: 0 4px 12px rgb(107, 108, 207);
    justify-content: space-between
    

}
#menuDespegable{
    position: relative;
    margin:5px;
    display: inline-block;

}

.menuDespegable-boton {
    background-color: rgba(54, 76, 54, 0);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: thick inset #0a1b3f;
    box-shadow: 0 4px 12px rgb(107, 108, 207);
    cursor: pointer;
    height: 35px;
    display: flex;
    align-items: center;
}

.menuDespegable-boton:hover {
    background-color: rgba(46, 34, 34, 0.45);
}

.menuDesplejado {
    display: none; /* Oculto por defecto */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border: thick inset #121344;
}

.menuDesplejado button  {
    color: #ffffff;
    padding: 12px 16px;
    background-color: #031553;
    border: 2px inset #121344;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    width: 100%; 
    text-align: left; 
    
}

.menuDesplejado button:hover {
    filter: invert(25%) saturate(1%);
}

.menuDesplejado button:active{
    filter: invert(50%) saturate(1%);
}

#menuDespegable .menuDesplejado {
    display: none;
}

#menuDespegable.show-menu .menuDesplejado {
    display: block;
}

.botonContainer {
    display: flex; /* Utiliza Flexbox para el contenedor de los botones */
    justify-content: space-between; /* Distribuye el espacio entre los botones */
    align-items: center; /* Alinea los botones verticalmente al centro */
}

.botonInfo {
    position: relative;
    background-color: rgba(54, 76, 54, 0);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: thick inset #0a1b3f;
    box-shadow: 0 4px 12px rgb(107, 108, 207);
    cursor: pointer;
    height: 35px;
    display: flex;
    align-items: center;
    margin: 5px;
}


.botonInfo:active {
    transform: translateY(2px);
    border: thick inset #3759a7;
}
