:root {
    --colorMarco:#171c61 ;
    --colorTablero: #001f33;
    --colorCuadro: #003366;
    --colorCelda: #004080;
    --colorCeldaCompleta: #00264d;
    --colorNumeros: #ffffff;
    --colorResalte: #0066cc;
    --colorNumerosResaltados: #80d4ff;
}


.invisibilizar {
    visibility: hidden;
}
