:root {
    --colorTablero: #1c1c1c; /* Obsidiana muy oscura */
    --colorCuadro: #2e2e2e; /* Gris oscuro con matices morados */
    --colorCelda: #3a3a3a; /* Gris más claro con matices morados */
    --colorCeldaCompleta: #4b3a5d; /* Morado oscuro */
    --colorNumeros: #e8e8e8; /* Gris muy claro para los números */
    --colorResalte: #5c2a8d; /* Morado oscuro con matices azules */
    --colorNumerosResaltados: #9b7f9f; /* Morado suave */
}
