:root {
    --colorMarco:#171c61 ;
    --colorTablero: #001f33; /* Azul muy oscuro */
    --colorCuadro: #003366; /* Azul profundo */
    --colorCelda: #004080; /* Azul oscuro suave */
    --colorCeldaCompleta: #00264d; /* Azul marino */
    --colorNumeros: #ffffff; /* Blanco brillante para los números */
    --colorResalte: #0066cc; /* Azul vibrante con un toque de neón */
    --colorNumerosResaltados: #80d4ff; /* Azul claro y suave para los números resaltados */
}
