
#juegoTablero{
    background-image: url("/Prueba/sudoku-app/assets/banner.png");
    position: absolute;
    background-color: rgb(60, 0, 128);
    width: fit-content;
    height: fit-content;
    margin: 5px;
    padding: 5px;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 8px rgba(106, 90, 205, 0.5); 
}

#contenedorInfo{
    display: flex;
    flex-direction: row;
    background-color: rgba(4, 53, 4, 0);
    width: auto;
    height: fit-content;
    margin: 5px;
    padding: 5px;
}
.conenedorTiempo{
    border: thick inset #2e1b35;
    display: flex;
    justify-content: center;
    font-size: 25px;
    align-items: center;
    background-image: url("/Prueba/sudoku-app/assets/banner.png");
    margin: 5px;
    width: 100%;
    height: 4vh;
    background-color: #3a387e;
    filter: saturate(15%);
    color: white;
}
.conenedorVidas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("/Prueba/sudoku-app/assets/banner.png");
    margin: 5px;
    width: 100%;
    height: 4vh;
    background-color: #3a387e;
    filter: saturate(15%);
    color: white;
    border: thick inset #2e1b35;
}

#bontonPista{
    position: relative;
    background-image: url("/Prueba/sudoku-app/assets/banner.png");
    margin: 5px;
    top: 5px;
    width:  fit-content;
    height: 4vh;
    background-color: #3a387e;
    filter: saturate(15%);
    color: white;
}

.corazon{

    width: 25px; /* Ancho de cada cuadro del sprite */
    height: 25px; /* Altura de cada cuadro del sprite */
    background-image: url("/Prueba/sudoku-app/assets/corazones.png");
    background-repeat: no-repeat;
    background-position: 0 0; /* Posición inicial del fondo */
    display: inline-block;

}

#tablero{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 1px; /* Espacio entre los elementos */
    width: fit-content; /* Ajusta el ancho al contenido */
    height: fit-content; /* Ajusta la altura al contenido */
    background-color:   var(--colorTablero);
    margin: 5px;
}
.cuadro{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 1px; /* Espacio entre los elementos */
    width: fit-content; /* Ajusta el ancho al contenido */
    height: fit-content; /* Ajusta la altura al contenido */
    background-color: var(--colorCuadro);
    margin: 1px;
    padding: 1px;
}

.celda{
    box-sizing: border-box;
    position: relative;
    width:  30px;
    height: 30px;
    margin: 5px;
    background-color: var(--colorCelda);
    color: var(--colorNumeros);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.celdaCompleta{
    color: var(--colorNumeros);
    background-color: var(--colorCeldaCompleta);
}

.celdaIncompleta {
    color: red;
    background-color: var(--colorCelda);
}

.celda:hover {

    position: relative;
    border: 2px solid rgb(255, 255, 255);
}

.celda-resaltada {
    background-color: var(--colorResalte); /* Cambia este color a lo que prefieras */
}

.celda-mismoNumero {
    border: 1px solid rgb(255, 255, 255);
    background-color: var(--colorNumerosResaltados); /* Cambia este color a lo que prefieras */
    font-size: 20px;

}
